
#profilePic {
  width: 30%;
  height: 80%;
  padding: 1px;
  background-color: black;
  margin-bottom: 20px;
  
}
section {
  width: 100%;
  margin: 2rem;
  align-items: center;
}

.details {
  /* margin: 2rem;
  padding: 0.5rem; */
}

#githubLogo {
  width: 10%
  
}
#linkedinLogo {
  width: 11%
  
}

.logo {
  margin: 25px;
}

p {
  font-size: 20px;
  min-width: 425px;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow */
  .card-column:last-child {
    flex-grow: 1;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
