body {
    background: dimgray !important;
  }
  .form {
    margin: 20px;
    font-family: 'Varela Round', sans-serif;

  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }