/* color scheme sourced from http://khroma.co/generator/ */
:root {
  --outer-space: #33393f;
  --bright-turquoise: #2aefcb;
  --gin: #e0eae4;
  --heliotrope: #fbfbfb;
}

/* set content highlight color and background */
::selection {
  background-color: var(--bright-turquoise);
  color: var(--outer-space);
}

a {
  text-decoration: none !important ;
  color: white !important;
}

h3 {
  font-size: 2rem;
  font-family: "Varela Round", sans-serif;
}

main {
  width: 96%;
  margin: 3rem auto;
}

footer {
  margin: 1.5rem;
  text-align: center;
}

.justify-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  object-fit: cover;
  opacity: 90%;
}
.portfolio-image {
  height: 300px;
  opacity: 80%;
  border-radius: 10px;
}
.portfolio-image:hover {
  overflow: hidden;
}

.row {
  --bs-gutter-x: 0rem !important;
}

.row img {
  flex-shrink: 0;
}

.card-column {
  flex: 1 0 100%;
  padding: 1.5rem !important;
  
  margin: auto;
  height: 33%;
  border-radius: 2px;
}

.wrapper {
  display: grid;
  align-items: center;
  position: relative;
}
.card-title {
  /* width: 50%; */
  position: absolute;
  color: azure;
  background: rgba(0, 0, 0, 0.5);
  min-height: auto;
  padding: 10px;
  bottom: 60px;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 0 10px 10px 0;
  font-family: "Varela Round", sans-serif;
}

#card-three {
}
a.gitLink {
  width: 50%;
}
.card-title:hover {
  background: rgba(0, 0, 0, 0.25);
}


#github {
  width: 18%;
  margin: 5px;
  max-height: 33%;
}

.gitLink:hover {
  -webkit-filter: drop-shadow(5px 5px 5px #a39f9f);
  filter: drop-shadow(3px 3px 3px #3387bc) !important;
}
.card-logo:hover {
  -webkit-filter: drop-shadow(5px 5px 5px #a39f9f);
  filter: drop-shadow(5px 5px 5px #3387bc);
}

@media screen and (max-width: 768px) {
  .card-column {
    flex: 0 0 100%;

    /* max-width: 50%; */
  }
  /* .card-title {
        max-width: 50%;
  } */
}
@media screen and (min-width:375px) {
  .card-column{
    /* flex: 0 0 100%; */

    /* max-width: 50%; */
  }
  /* .card-title {
    max-width: 50%;
} */
}
/* media query for larger screens */
@media screen and (min-width: 992px) {

  .card-column {
    flex: 0 0 50%;
  }
  /* .card-title {
    max-width: 50%;
} */
}
